<template>
    <!-- Início do Card de busca -->
    <div class="card mb-3">
        <div class="card-header">{{ titulo }}</div>
        
        <form>
            <div class="card-body">
                <slot name="conteudo"></slot>
            </div>
            <div class="card-footer">
                <slot name="rodape"></slot>
            </div>
        </form>
    </div>
</template>

<script>

export default {
    props: ['titulo']
};

</script>
