<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">

                <card-component titulo="Busca de Marcas">
                    <template v-slot:conteudo>

                        <div class="form-row">
                            <div class="col form-group">
                                <input-container-component 
                                titulo="ID" 
                                id="inputId"
                                id-help="idHelp"
                                texto-ajuda="Opcional. Informe o ID da Marca"
                                >
                                <input type="number" class="form-control" id="inputId" aria-describedby="idHelp" placeholder="ID" v-model="busca.id">
                            </input-container-component>  
                            
                            
                            </div>
                            <div class="col form-group">
                                <input-container-component 
                                titulo="Nome" 
                                id="inputNome"
                                id-help="nomeHelp"
                                texto-ajuda="Opcional. Informe o Nome da Marca"
                                >
                                    <input type="text" class="form-control" id="inputNome" placeholder="Nome" aria-describedby="nomeHelp" v-model="busca.nome">
                                </input-container-component>            
                            </div>
                        </div>
                    </template>
                    <template v-slot:rodape>
                        <button type="submit" class="btn btn-primary btn-sm float-right" @click.prevent="pesquisar()">Pesquisar</button>
                    </template>
                </card-component>
                <!-- Fim do Card de busca -->
                
                <!-- Início do Card de Listagem de Marcas -->
                <card-component titulo="Relação de Marcas">
                    <template v-slot:conteudo>
                        <table-component 
                            :dados="marcas.data" 
                            :visualizar="{visivel: true, dataToggle: 'modal', dataTarget:'#modalMarcaVisualizar'}"
                            :atualizar="{visivel: true, dataToggle: 'modal', dataTarget:'#modalMarcaAtualizar'}"
                            :remover="{visivel: true, dataToggle: 'modal', dataTarget: '#modalMarcaRemover'}"
                            :titulos="{
                                id: {
                                    titulo: 'ID',
                                    tipo: 'text' 
                                },
                                nome: {
                                    titulo: 'Nome',
                                    tipo: 'text' 
                                },
                                imagem: {
                                    titulo: 'Imagem',
                                    tipo: 'imagem' 
                                },
                                created_at: {
                                    titulo: 'Data de Criação',
                                    tipo: 'data' 
                                },
                            }">
                        </table-component>
                    </template>
                    <template v-slot:rodape>
                        <div class="row">
                            <div class="col-10" id="listagem">
                                <paginate-component>
                                    <li v-for="l, key in marcas.links" :class="l.active ? 'page-item active' : 'page-item'" :key="key" @click="paginacao(l)">
                                        <a class="page-link" v-html="l.label"></a>
                                    </li>
                                </paginate-component>
                            </div>
                            <div class="col"><button type="button" class="btn btn-primary btn-sm float-right" data-bs-toggle="modal" data-bs-target="#modalMarca">Adicionar</button></div>
                        </div>
                    </template>
                </card-component>   
                <!-- Fim do Card de Listagem de Marcas -->
            </div>

            <!-- Início do modal de inclusão de marca -->
            <modal-component id="modalMarca" titulo="Adicionar Marca">
                <template v-slot:alertas>
                    <alert-component :detalhes="transacaoDetalhes" titulo="Cadastro realizado com sucesso!" v-if="transacaoStatus == 'adicionado'" tipo="success"></alert-component>
                    <alert-component :detalhes="transacaoDetalhes" titulo="Houve um erro no Cadastro da Marca." v-if="transacaoStatus == 'erro'" tipo="danger"></alert-component>
                </template>
                <template v-slot:conteudo>
                    <div class="form-group">
                        <input-container-component  titulo="Nome da Marca"  id="novoNome" id-help="novoNomeHelp" texto-ajuda="Opcional. Informe o Nome da Marca" >
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" aria-describedby="novoNomeHelp" v-model="nomeMarca">
                        </input-container-component>  
                    </div>
                    <div class="form-group">
                        <input-container-component  titulo="Imagem"  id="novoImagem" id-help="novoImagemHelp" texto-ajuda="Selecione uma imagem no formato PNG" >
                            <input type="file" class="form-control" id="inputNome" placeholder="Selecione uma Imagem" aria-describedby="novoImagemHelp" @change="carregarImagem($event)">
                        </input-container-component>  
                    </div>
                </template>

                <template v-slot:rodape>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" @click="salvar">Salvar</button>
                </template>
            </modal-component>


            <!-- Fim do modal de inclusão de marca -->
            <modal-component id="modalMarcaVisualizar" titulo="Visualizar Marca">
                <template v-slot:alertas>

                </template>

                <template v-slot:conteudo>
                    <input-container-component titulo="ID">
                        <input type="text" class="form-control" :value="$store.state.item.id" disabled>
                    </input-container-component>

                    <input-container-component titulo="Nome da Marca">
                        <input type="text" class="form-control" :value="$store.state.item.nome" disabled>
                    </input-container-component>

                    <input-container-component titulo="Imagem">
                        <img :src="'storage/' + $store.state.item.imagem" alt="" v-if="$store.state.item.imagem">
                    </input-container-component>

                    <input-container-component titulo="Data de Criação">
                        <input type="text" class="form-control" :value="$store.state.item.created_at" disabled>
                    </input-container-component>
                </template>

                <template v-slot:rodape>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" @click="salvar">Salvar</button>
                </template>
            </modal-component>
            <!-- Início do modal de visualização de marca -->

            <!-- Fim do modal de exclusão de marca -->
            <modal-component id="modalMarcaRemover" titulo="Remover Marca">
                <template v-slot:alertas>
                    <alert-component tipo="success" titulo="Transação realizada com sucesso" :detalhes="{mensagem: ''}" v-if="$store.state.transacao.status == 'sucesso'"></alert-component>
                    <alert-component tipo="danger" titulo="Erro na transação" :detalhes="{mensagem: ''}" v-if="$store.state.transacao.status == 'erro'"></alert-component>
                </template>

                <template v-slot:conteudo v-if="$store.state.transacao.status != 'sucesso'">

                    <input-container-component titulo="ID">
                        <input type="text" class="form-control" :value="$store.state.item.id" disabled>
                    </input-container-component>

                    <input-container-component titulo="Nome da Marca">
                        <input type="text" class="form-control" :value="$store.state.item.nome" disabled>
                    </input-container-component>

                </template>

                <template v-slot:rodape>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-danger" @click="remover" v-if="$store.state.transacao.status != 'sucesso'">Remover</button>
                </template>
            </modal-component>
            <!-- Início do modal de exclusão de marca -->

            <!-- Início do modal de atualização de marca -->
            <modal-component id="modalMarcaAtualizar" titulo="Atualizar Marca">
                <template v-slot:alertas>
                    <alert-component :detalhes="transacaoDetalhes" titulo="Atualização realizada com sucesso!" v-if="$store.state.transacao.status == 'sucesso'" tipo="success"></alert-component>
                    <alert-component :detalhes="transacaoDetalhes" titulo="Houve um erro na Atualização da Marca." v-if="$store.state.transacao.status == 'erro'" tipo="danger"></alert-component>
                </template>
                <template v-slot:conteudo>
                    <div class="form-group">
                        <input-container-component  titulo="Nome da Marca"  id="atualizarNome" id-help="atualizarNomeHelp" texto-ajuda="Opcional. Informe o Nome da Marca">
                            <input type="text" class="form-control" id="inputNome" placeholder="Nome" aria-describedby="atualizarNomeHelp" v-model="$store.state.item.nome">
                        </input-container-component>  
                    </div>
                    <div class="form-group">
                        <input-container-component  titulo="Imagem"  id="atualizarImagem" id-help="atualizarImagemHelp" texto-ajuda="Selecione uma imagem no formato PNG" >
                            <input type="file" class="form-control" id="inputImagem" placeholder="Selecione uma Imagem" aria-describedby="atualizarImagemHelp" @change="carregarImagem($event)">
                        </input-container-component>  
                    </div>
                </template>

                <template v-slot:rodape>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" @click="atualizar()">Atualizar</button>
                </template>
            </modal-component>
            <!-- Fim do modal de atualização de marca -->
        </div>
    </div>
</template>

<script>
import axios from 'axios';

    export default {
        data() {
            return {
                urlBase: 'http://127.0.0.1:8000/api/v1/marca',
                urlPaginacao: '',
                urlFiltro: '',
                nomeMarca: '',
                arquivoImagem: [],
                transacaoStatus: '',
                transacaoDetalhes: [],
                marcas: { data: [] },
                busca: { id: '', nome: '' }
            }
        },
        methods: {
            pesquisar() {
                let filtro = '';

                for(let chave in this.busca) {
                    if(this.busca[chave] && this.busca[chave] != '') {
                        if(filtro != '') {
                            filtro += ';';
                        }
    
                        filtro += chave + ':like:%' + this.busca[chave] + '%'
                    }
                }

                if(filtro != '') {
                    this.urlPaginacao = 'page=1'
                    this.urlFiltro    = '&filtro=' + filtro;
                } 
                else this.urlFiltro = '';

                this.carregarLista();
            },
            paginacao(l) {
                if(l.url) {
                    this.urlPaginacao = l.url.split('?')[1];

                    this.carregarLista();
                }
            },
            carregarLista() {
                let url = this.urlBase + '?' + this.urlPaginacao + this.urlFiltro;


                axios.get(url)
                     .then(response => {
                        this.marcas = response.data;
                     })
                     .catch(errors => {
                        console.log(errors);
                     })
            },  
            carregarImagem(e) {
                this.arquivoImagem = e.target.files;
            },
            salvar() {    
                let formData = new FormData();
                formData.append('nome', this.nomeMarca);
                formData.append('imagem', this.arquivoImagem[0]);
                
                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                }

                axios.post(this.urlBase, formData, config)
                    .then(response => {
                        this.transacaoStatus = 'adicionado';
                        this.transacaoDetalhes = {
                            mensagem: 'ID do Registro: ' + response.data.id
                        };
                    })
                    .catch(errors => {
                        this.transacaoStatus = 'erro';
                        this.transacaoDetalhes = {
                            mensagem: errors.response.data.message,
                            dados: errors.response.data.errors
                        };
                    })
            },
            remover() {
                let url = this.urlBase + '/' + this.$store.state.item.id;

                let formData = new FormData()
                formData.append('_method', 'delete')

                axios.post(url, formData)
                     .then(response => {
                         this.$store.state.transacao.status   = 'sucesso'
                         this.$store.state.transacao.mensagem = response.data.msg
                         this.carregarLista();
                     })
                     .catch(error => {
                         this.$store.state.transacao.status   = 'erro'
                         this.$store.state.transacao.mensagem = 'Houve um erro na remoção do registro.'
                     })
            },
            atualizar() {
                let formData = new FormData();

                formData.append('_method', 'patch');
                formData.append('nome', this.$store.state.item.nome);

                if(this.arquivoImagem[0]) {
                    formData.append('imagem', this.arquivoImagem[0]);
                }

                let url = this.urlBase + '/' + this.$store.state.item.id;

                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data',
                    }
                }

                axios.post(url, formData, config)
                     .then(response => {
                        this.$store.state.transacao.status   = 'sucesso'
                        this.$store.state.transacao.mensagem = response.data.msg

                        inputImagem.value = ''
                        this.carregarLista();
                     })
                     .catch(errors => {
                        this.$store.state.transacao.status   = 'erro'
                        this.$store.state.transacao.mensagem = 'Houve um erro na atualização do registro.'
                        this.$store.state.transacao.dados    = errors.data.errors
                     })
            }
        },
        mounted() {
            this.carregarLista();
        }
    }
</script>
