<template>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col" v-for="t, key in titulos" :key="key">{{t.titulo}}</th>
                <th v-if="visualizar.visivel || atualizar.visivel || remover.visivel"></th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="obj in titulosFiltrados" :key="obj.id">
                <td v-for="valor,chave in obj" :key="chave">
                    <span v-if="titulos[chave].tipo == 'imagem'">
                        <img :src="'/storage/' + valor" width="30" height="30">
                    </span>
                    <span v-else-if="titulos[chave].tipo == 'data'">
                        {{ formataDataTempo(valor) }}
                    </span>
                    <span v-else>
                        {{ valor }}
                    </span>
                </td>
                <td>
                    <button type="button" v-if="visualizar.visivel" class="btn btn-outline-primary btn-sm" :data-bs-toggle="visualizar.dataToggle" :data-bs-target="visualizar.dataTarget" @click="setStore(obj)">Visualizar</button>
                    <button type="button" v-if="atualizar.visivel" class="btn btn-outline-primary btn-sm" :data-bs-toggle="atualizar.dataToggle" :data-bs-target="atualizar.dataTarget" @click="setStore(obj)">Atualizar</button>
                    <button type="button" v-if="remover.visivel" class="btn btn-outline-danger btn-sm" :data-bs-toggle="remover.dataToggle" :data-bs-target="remover.dataTarget" @click="setStore(obj)">Remover</button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>

export default {
    methods: {
        setStore(obj) {
            this.$store.state.transacao.dados   = ''
            this.$store.state.transacao.status   = ''
            this.$store.state.transacao.mensagem = ''
            this.$store.state.item = obj
        },
        formataDataTempo(d) {
            if(!d) return ''

            d = d.split('T')

            let data = d[0]
            let tempo = d[1]

            data = data.split('-')
            data = data[2] + '/' + data[1] + '/' + data[0]

            tempo = tempo.split('.')
            tempo = tempo[0]

            return data + ' ' + tempo
        }
    },
    computed: {
        titulosFiltrados() {
            return this.dados.map(function (dados) {
                let newObject = {};

                for (const property in dados) {
                    if(this.titulos.hasOwnProperty(property)) newObject[property] = dados[property];
                }

                return newObject;
            }, this);
        }
    },
    props: ['dados', 'titulos', 'visualizar', 'atualizar', 'remover']
};

</script>
